Install Required Libraries

In [3]:
!pip install pyspark numpy

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

Necessary Libraries

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import from_json, col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

Set Up Spark Session

In [5]:

# Initialize Spark session
spark = SparkSession.builder.appName("Big Data Analysis").getOrCreate()

mount the google drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Load the Data

In [66]:
# Load the JSON data
df = spark.read.json("/content/drive/My Drive/house_3.json")

# Show the initial schema and data
df.printSchema()
df.show(5)

root
 |-- _corrupt_record: string (nullable = true)
 |-- address: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- bedroom: string (nullable = true)
 |-- description: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- poster_id: string (nullable = true)
 |-- poster_type: string (nullable = true)
 |-- price_gel: string (nullable = true)
 |-- price_usd: string (nullable = true)
 |-- product_tree: string (nullable = true)
 |-- room: string (nullable = true)
 |-- space: string (nullable = true)
 |-- time: string (nullable = true)
 |-- title: string (nullable = true)
 |-- views: string (nullable = true)

+---------------+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+---------------+-----------+--------------------+-----+
|_corrupt_record|             address|           amenities|bedroom|         description|floor|        id|  latitude| longitude|poster_id|poster_type|price_gel|price_usd|        product_tree|  room|          space|       time|               title|views|
+---------------+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+---------------+-----------+--------------------+-----+
|              [|                NULL|                NULL|   NULL|                NULL| NULL|      NULL|      NULL|      NULL|     NULL|       NULL|     NULL|     NULL|                NULL|  NULL|           NULL|       NULL|                NULL| NULL|
|           NULL|შარტავას ქუჩა, Sa...|Newly renovated,N...|Bedroom|1,5 Ot newly reno...|11/11|: 10541934|41.7245209|44.7537885|  2165179|      Agent|  107,100|   32,500|Newly finished ap...|1 Room|Area: 28.00 m² |Today 12:33|Newly finished ap...|  622|
|           NULL|Rustavi, Lower Ka...|Newly renovated,M...|Bedroom|One-room 3-room a...|  5/9|: 10680693|  41.54309|45.0112804|  3594609|      Agent|   87,300|   26,500|Older finished ap...|3 Room|Area: 63.00 m² |Today 11:40|Older finished ap...|  276|
|           NULL|Queen Ketevan Ave...|Newly renovated,N...|Bedroom|Newly renovated a...|15/16|: 10491378|41.6895023|44.8200504|  3533391|      Owner|  257,000|   78,000|Newly finished ap...|3 Room|Area: 72.00 m² |Today 13:27|Newly finished ap...| 1226|
|           NULL|კრწანისის ქუჩა, O...|White frame,Nonst...|Bedroom|53 sq.m. apartmen...|  2/4|: 10255954|41.6770838|44.8172216|  2083738|      Owner|  157,200|   47,700|Newly finished ap...|2 Room|Area: 53.00 m² |Today 13:33|Newly finished ap...| 3309|
+---------------+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+---------------+-----------+--------------------+-----+
only showing top 5 rows

define the schema for our JSON data

In [67]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType

schema = StructType([
    StructField("address", StringType(), True),
    StructField("product_tree", StringType(), True),
    StructField("time", StringType(), True),
    StructField("views", IntegerType(), True),
    StructField("title", StringType(), True),
    StructField("id", StringType(), True),
    StructField("price_gel", DoubleType(), True),
    StructField("price_usd", DoubleType(), True),
    StructField("space", DoubleType(), True),
    StructField("room", StringType(), True),
    StructField("bedroom", StringType(), True),
    StructField("floor", IntegerType(), True),
    StructField("description", StringType(), True),
    StructField("amenities", StringType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("poster_type", StringType(), True),
    StructField("poster_id", StringType(), True)
])

 Identify Missing Values and Data Types

In [68]:
from pyspark.sql.functions import isnan, when, count, col

# Show columns with null or NaN values
df.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df.columns]).show()

# Show data types
df.dtypes

+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+
|_corrupt_record|address|amenities|bedroom|description|floor| id|latitude|longitude|poster_id|poster_type|price_gel|price_usd|product_tree|room|space|time|title|views|
+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+
|          41663|      2|        2|      2|       5056|    2|  2|     379|      379|        2|          2|        2|        2|           2|   2|    2|   2|    2|    2|
+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+

[('_corrupt_record', 'string'),
 ('address', 'string'),
 ('amenities', 'string'),
 ('bedroom', 'string'),
 ('description', 'string'),
 ('floor', 'string'),
 ('id', 'string'),
 ('latitude', 'string'),
 ('longitude', 'string'),
 ('poster_id', 'string'),
 ('poster_type', 'string'),
 ('price_gel', 'string'),
 ('price_usd', 'string'),
 ('product_tree', 'string'),
 ('room', 'string'),
 ('space', 'string'),
 ('time', 'string'),
 ('title', 'string'),
 ('views', 'string')]

 Handle Missing Values and transform data

In [71]:
from pyspark.sql.functions import regexp_replace, split, col, when, trim
from pyspark.sql.types import IntegerType, DoubleType

# Clean and transform the data
df_cleaned = df.withColumn("price_gel", regexp_replace(col("price_gel"), ",", "").cast(DoubleType())) \
    .withColumn("price_usd", regexp_replace(col("price_usd"), ",", "").cast(DoubleType())) \
    .withColumn("space", regexp_replace(regexp_replace(trim(col("space")), "Area:", ""), "[^0-9.]", "").cast(DoubleType())) \
    .withColumn("views", col("views").cast(IntegerType())) \
    .withColumn("floor_info", split(trim(col("floor")), "/")) \
    .withColumn("floor", when(col("floor_info").getItem(0).isNotNull(), col("floor_info").getItem(0).cast(IntegerType())).otherwise(None)) \
    .withColumn("total_floors", when(col("floor_info").getItem(1).isNotNull(), col("floor_info").getItem(1).cast(IntegerType())).otherwise(None)) \
    .drop("floor_info") \
    .withColumn("latitude", col("latitude").cast(DoubleType())) \
    .withColumn("longitude", col("longitude").cast(DoubleType())) \
    .withColumn("amenities", regexp_replace(trim(col("amenities")), ",", "|"))

df_cleaned.describe(["price_gel", "price_usd", "space", "views", "floor", "total_floors", "latitude", "longitude"]).show()
df_cleaned.select([count(when(col(c).isNull(), c)).alias(c) for c in df_cleaned.columns]).show()


# Split product_tree into separate columns
df_cleaned = df_cleaned.withColumn("product_tree_split", split(col("product_tree"), ",")) \
    .withColumn("product_type", col("product_tree_split").getItem(0)) \
    .withColumn("city", col("product_tree_split").getItem(1)) \
    .withColumn("district", col("product_tree_split").getItem(2)) \
    .withColumn("neighborhood", col("product_tree_split").getItem(3)) \
    .drop("product_tree_split")


# Handle missing or invalid values in numeric columns
df_cleaned = df_cleaned.withColumn("space", when(col("space").isNotNull(), col("space")).otherwise(0.0)) \
    .withColumn("views", when(col("views").isNotNull(), col("views")).otherwise(0))

df_cleaned = df_cleaned.drop("_corrupt_record")

# Drop any rows where essential information is missing
df_cleaned = df_cleaned.na.drop(subset=["address", "latitude", "longitude", "product_type", "city", "district"])

# Verify the data cleaning
df_cleaned.show(5)
df_cleaned.describe().show()
df_cleaned.printSchema()
# Check for any remaining missing values
missing_values = df_cleaned.select([col for col in df_cleaned.columns if df_cleaned.filter(df_cleaned[col].isNull()).count() > 0])
missing_values.show()

+-------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+
|summary|         price_gel|        price_usd|             space|            views|            floor|      total_floors|           latitude|         longitude|
+-------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+
|  count|             41663|            41663|             41663|            41663|            41663|             41663|              41286|             41286|
|   mean|   303180.74454552|92010.22129947436|119.65649353143093| 343.788997431774|6.611837841730072|11.168950867676356|  41.72714931984303|44.496279280450786|
| stddev|2332437.7794166263|707850.4069807667|1601.5270332554157|959.9517539351979|5.064616889399375| 6.326099296077831|0.08925297897968838|0.8919048671315104|
|    min|            3300.0|           1000.0|               1.0|                0|                0|                 0|    40.359140941756|   38.829868955956|
|    max|          3.2951E8|            1.0E8|          133000.0|            80933|              127|               113|    46.218058552044|47.238277194471976|
+-------+------------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+

+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+
|_corrupt_record|address|amenities|bedroom|description|floor| id|latitude|longitude|poster_id|poster_type|price_gel|price_usd|product_tree|room|space|time|title|views|total_floors|
+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+
|          41663|      2|        2|      2|       5056|    2|  2|     379|      379|        2|          2|        2|        2|           2|   2|    2|   2|    2|    2|           2|
+---------------+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+

+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+-----+-----------+--------------------+-----+------------+--------------------+------------+------------------+------------+
|             address|           amenities|bedroom|         description|floor|        id|  latitude| longitude|poster_id|poster_type|price_gel|price_usd|        product_tree|  room|space|       time|               title|views|total_floors|        product_type|        city|          district|neighborhood|
+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+-----+-----------+--------------------+-----+------------+--------------------+------------+------------------+------------+
|შარტავას ქუჩა, Sa...|Newly renovated|N...|Bedroom|1,5 Ot newly reno...|   11|: 10541934|41.7245209|44.7537885|  2165179|      Agent| 107100.0|  32500.0|Newly finished ap...|1 Room| 28.0|Today 12:33|Newly finished ap...|  622|          11|Newly finished ap...|     Tbilisi|Saburtalo District|   Saburtalo|
|Rustavi, Lower Ka...|Newly renovated|M...|Bedroom|One-room 3-room a...|    5|: 10680693|  41.54309|45.0112804|  3594609|      Agent|  87300.0|  26500.0|Older finished ap...|3 Room| 63.0|Today 11:40|Older finished ap...|  276|           9|Older finished ap...|Lower Kartli|           Rustavi|     3 rooms|
|Queen Ketevan Ave...|Newly renovated|N...|Bedroom|Newly renovated a...|   15|: 10491378|41.6895023|44.8200504|  3533391|      Owner| 257000.0|  78000.0|Newly finished ap...|3 Room| 72.0|Today 13:27|Newly finished ap...| 1226|          16|Newly finished ap...|     Tbilisi|    Isani District|       Isani|
|კრწანისის ქუჩა, O...|White frame|Nonst...|Bedroom|53 sq.m. apartmen...|    2|: 10255954|41.6770838|44.8172216|  2083738|      Owner| 157200.0|  47700.0|Newly finished ap...|2 Room| 53.0|Today 13:33|Newly finished ap...| 3309|           4|Newly finished ap...|     Tbilisi|Krtsanisi District|   Ortachala|
|ორთაჭალის ქ, Orta...|White frame|Nonst...|Bedroom|80 sq.m. white fr...|    3|: 10462781|41.6828831|44.8238154|  2083738|      Owner| 237200.0|  72000.0|Newly finished ap...|3 Room| 80.0|Today 13:32|Newly finished ap...| 1484|           4|Newly finished ap...|     Tbilisi|Krtsanisi District|   Ortachala|
+--------------------+--------------------+-------+--------------------+-----+----------+----------+----------+---------+-----------+---------+---------+--------------------+------+-----+-----------+--------------------+-----+------------+--------------------+------------+------------------+------------+
only showing top 5 rows

+-------+--------------------+--------------------+-------+--------------------+-----------------+----------+-------------------+------------------+------------------+-----------+-----------------+-----------------+--------------------+-------+------------------+---------------+--------------------+-----------------+------------------+--------------------+--------+--------------------+------------------+
|summary|             address|           amenities|bedroom|         description|            floor|        id|           latitude|         longitude|         poster_id|poster_type|        price_gel|        price_usd|        product_tree|   room|             space|           time|               title|            views|      total_floors|        product_type|    city|            district|      neighborhood|
+-------+--------------------+--------------------+-------+--------------------+-----------------+----------+-------------------+------------------+------------------+-----------+-----------------+-----------------+--------------------+-------+------------------+---------------+--------------------+-----------------+------------------+--------------------+--------+--------------------+------------------+
|  count|               41286|               41286|  41286|               36348|            41286|     41286|              41286|             41286|             41286|      41286|            41286|            41286|               41286|  41286|             41286|          41286|               41286|            41286|             41286|               41286|   41286|               41286|             39152|
|   mean|                NULL|                NULL|   NULL|        1.85002865E8| 6.62539359589207|      NULL|  41.72714931984303|44.496279280450786| 2849891.940003875|       NULL| 303351.142275832| 92061.9403671947|                NULL|   NULL|119.91931768638302|           NULL|                NULL|337.6937460640411|11.191566148331153|                NULL|    NULL|                NULL|              NULL|
| stddev|                NULL|                NULL|   NULL| 3.204343504674758E8|5.070424082057078|      NULL|0.08925297897968838|0.8919048671315104|1135986.6909984057|       NULL|2342846.660707693|711009.3025026474|                NULL|   NULL|1608.8103784888133|           NULL|                NULL|954.0329434338029| 6.331992092106217|                NULL|    NULL|                NULL|              NULL|
|    min|" Demax Group", I...|Black frame|City|...|Bedroom|\r\n L.T.D. Youto...|                0|: 10000046|    40.359140941756|   38.829868955956|           1000170|      Agent|           3300.0|           1000.0|Apartment for sal...| 1 Room|               1.0|    1 Jul 12:33|  Apartment for sale|                0|                 0|  Apartment for sale|Abkhazia|             1 rooms|           Georgia|
|    max|№29 , Meskheti St...|მწვანე კარკასი||C...|Bedroom|�Tel: +995 591400...|              127| : 9999912|    46.218058552044|47.238277194471976|            999589|      Owner|         3.2951E8|            1.0E8|Older finished ap...|95 Room|          133000.0|Yesterday 23:59|Older finished ap...|            80933|               113|Older finished ap...| Tbilisi|Zugdidi Municipality|ჯავახიშვილის უბანი|
+-------+--------------------+--------------------+-------+--------------------+-----------------+----------+-------------------+------------------+------------------+-----------+-----------------+-----------------+--------------------+-------+------------------+---------------+--------------------+-----------------+------------------+--------------------+--------+--------------------+------------------+

root
 |-- address: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- bedroom: string (nullable = true)
 |-- description: string (nullable = true)
 |-- floor: integer (nullable = true)
 |-- id: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- poster_id: string (nullable = true)
 |-- poster_type: string (nullable = true)
 |-- price_gel: double (nullable = true)
 |-- price_usd: double (nullable = true)
 |-- product_tree: string (nullable = true)
 |-- room: string (nullable = true)
 |-- space: double (nullable = true)
 |-- time: string (nullable = true)
 |-- title: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- total_floors: integer (nullable = true)
 |-- product_type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- district: string (nullable = true)
 |-- neighborhood: string (nullable = true)

+--------------------+------------+
|         description|neighborhood|
+--------------------+------------+
|1,5 Ot newly reno...|   Saburtalo|
|One-room 3-room a...|     3 rooms|
|Newly renovated a...|       Isani|
|53 sq.m. apartmen...|   Ortachala|
|80 sq.m. white fr...|   Ortachala|
|2 bedroom apartme...|     2 rooms|
|Urgently for sale...|   Ortachala|
|2-room apartment ...|   Saburtalo|
|Urgently !!! For ...|   Saburtalo|
|Apartment for sal...| Didi Digomi|
|Apartment for sal...|     Didgori|
|Urgently !!! For ...|        NULL|
|3-room apartment ...|   Saburtalo|
|Apartment for sal...| Didi Digomi|
|For Sale Near Goo...| Didi Digomi|
|                NULL| Nadzaladevi|
|Urgently !!! Newl...|   Saburtalo|
|                NULL|   Ortachala|
|145.7 м² apartmen...|       Isani|
|     011290, Dadiani| Nadzaladevi|
+--------------------+------------+
only showing top 20 rows

In [72]:
df_cleaned.describe(["price_gel", "price_usd", "space", "views", "floor", "total_floors", "latitude", "longitude"]).show()
df_cleaned.select([count(when(col(c).isNull(), c)).alias(c) for c in df_cleaned.columns]).show()

+-------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+
|summary|        price_gel|        price_usd|             space|            views|            floor|      total_floors|           latitude|         longitude|
+-------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+
|  count|            41286|            41286|             41286|            41286|            41286|             41286|              41286|             41286|
|   mean| 303351.142275832| 92061.9403671947|119.91931768638302|337.6937460640411| 6.62539359589207|11.191566148331153|  41.72714931984303|44.496279280450786|
| stddev|2342846.660707693|711009.3025026474|1608.8103784888133|954.0329434338029|5.070424082057078| 6.331992092106217|0.08925297897968838|0.8919048671315104|
|    min|           3300.0|           1000.0|               1.0|                0|                0|                 0|    40.359140941756|   38.829868955956|
|    max|         3.2951E8|            1.0E8|          133000.0|            80933|              127|               113|    46.218058552044|47.238277194471976|
+-------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+-------------------+------------------+

+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+------------+----+--------+------------+
|address|amenities|bedroom|description|floor| id|latitude|longitude|poster_id|poster_type|price_gel|price_usd|product_tree|room|space|time|title|views|total_floors|product_type|city|district|neighborhood|
+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+------------+----+--------+------------+
|      0|        0|      0|       4938|    0|  0|       0|        0|        0|          0|        0|        0|           0|   0|    0|   0|    0|    0|           0|           0|   0|       0|        2134|
+-------+---------+-------+-----------+-----+---+--------+---------+---------+-----------+---------+---------+------------+----+-----+----+-----+-----+------------+------------+----+--------+------------+

Exploratory Data Analysis

In [73]:
# Distribution of price in GEL and USD
df_cleaned.select("price_gel").describe().show()
df_cleaned.select("price_usd").describe().show()

# Distribution of space and views
df_cleaned.select("space").describe().show()
df_cleaned.select("views").describe().show()

# Count the occurrences of each unique value in categorical variables
df_cleaned.groupBy("bedroom").count().show()
df_cleaned.groupBy("amenities").count().show()

+-------+-----------------+
|summary|        price_gel|
+-------+-----------------+
|  count|            41286|
|   mean| 303351.142275832|
| stddev|2342846.660707693|
|    min|           3300.0|
|    max|         3.2951E8|
+-------+-----------------+

+-------+-----------------+
|summary|        price_usd|
+-------+-----------------+
|  count|            41286|
|   mean| 92061.9403671947|
| stddev|711009.3025026474|
|    min|           1000.0|
|    max|            1.0E8|
+-------+-----------------+

+-------+------------------+
|summary|             space|
+-------+------------------+
|  count|             41286|
|   mean|119.91931768638302|
| stddev|1608.8103784888133|
|    min|               1.0|
|    max|          133000.0|
+-------+------------------+

+-------+-----------------+
|summary|            views|
+-------+-----------------+
|  count|            41286|
|   mean|337.6937460640411|
| stddev|954.0329434338029|
|    min|                0|
|    max|            80933|
+-------+-----------------+

+-------+-----+
|bedroom|count|
+-------+-----+
|Bedroom|41286|
+-------+-----+

+--------------------+-----+
|           amenities|count|
+--------------------+-----+
|Old renovation|Mo...|    1|
|Newly renovated|N...|    1|
|Old renovation|No...|    1|
|Old renovation|No...|    1|
|Newly renovated|N...|    2|
|Newly renovated|N...|    1|
|Newly renovated|N...|    1|
|Newly renovated|N...|    1|
|Old renovation|Ci...|    1|
|Newly renovated|N...|    5|
|Black frame|Nonst...|    1|
|Newly renovated|N...|    1|
|White frame|Nonst...|    1|
|Newly renovated|N...|    2|
|Newly renovated|N...|    1|
|Old renovation|No...|    1|
|Not renovated|Mos...|    1|
|Newly renovated|N...|    1|
|White frame|Nonst...|   12|
|Newly renovated|N...|    1|
+--------------------+-----+
only showing top 20 rows

Analyze relationships between pairs of variables

In [75]:
# Relationship between price and space
df_cleaned.select("price_gel", "space").groupBy("space").avg("price_gel").orderBy("space").show()

# Relationship between views and price
df_cleaned.select("views", "price_gel").groupBy("views").avg("price_gel").orderBy("views").show()

# Relationship between space, city, and price
df_cleaned.groupBy("city", "space").avg("price_gel").orderBy("city", "space").show()

# Analyze the impact of amenities on price
df_cleaned.groupBy("amenities").avg("price_gel").orderBy("avg(price_gel)", ascending=False).show()

# Analyze average price by city
df_cleaned.groupBy("city").avg("price_gel").orderBy("avg(price_gel)", ascending=False).show()

+-----+------------------+
|space|    avg(price_gel)|
+-----+------------------+
|  1.0|119133.33333333333|
| 6.25|          280100.0|
|  7.0|           21400.0|
|  9.0|           23100.0|
| 10.0|           26350.0|
|10.72|           42800.0|
| 12.0|           58200.0|
| 13.0|           45350.0|
| 14.0|45033.333333333336|
| 15.0| 48485.71428571428|
| 16.0| 51323.07692307692|
| 17.0|           47800.0|
| 17.5|           89000.0|
| 18.0| 68569.69696969698|
| 19.0|           76375.0|
|19.56|           39500.0|
| 20.0|           53780.0|
| 21.0| 55978.57142857143|
| 21.5|           65550.0|
| 22.0|60769.565217391304|
+-----+------------------+
only showing top 20 rows

+-----+------------------+
|views|    avg(price_gel)|
+-----+------------------+
|    0| 275243.2098765432|
|    1|210633.33333333334|
|    2| 248234.1463414634|
|    3|199995.45454545456|
|    4|173933.33333333334|
|    5| 691861.1111111111|
|    6|          372016.0|
|    7| 288408.1967213115|
|    8| 298144.3396226415|
|    9| 335995.4954954955|
|   10|272703.59712230216|
|   11| 294909.0909090909|
|   12|272023.19587628864|
|   13|272201.41509433964|
|   14| 258913.9534883721|
|   15| 285556.2015503876|
|   16|260357.56457564575|
|   17|273947.79411764705|
|   18|269700.30581039755|
|   19| 268962.1951219512|
+-----+------------------+
only showing top 20 rows

+--------+-----+-----------------+
|    city|space|   avg(price_gel)|
+--------+-----+-----------------+
|Abkhazia| 35.1|          49400.0|
|Abkhazia| 73.0|         211900.0|
|  Adjara|  7.0|          21400.0|
|  Adjara| 21.0|          36200.0|
|  Adjara| 22.0|          82400.0|
|  Adjara| 23.0|          84000.0|
|  Adjara| 24.0|          95062.5|
|  Adjara|24.86|         102400.0|
|  Adjara| 25.0|91314.28571428571|
|  Adjara| 25.2|          53150.0|
|  Adjara| 25.4|          77400.0|
|  Adjara| 25.8|          72500.0|
|  Adjara| 26.0|93255.55555555556|
|  Adjara| 26.6|          52600.0|
|  Adjara|26.87|          84100.0|
|  Adjara| 27.0|93253.84615384616|
|  Adjara|27.38|          42850.0|
|  Adjara| 27.4|          63200.0|
|  Adjara| 27.5|         102100.0|
|  Adjara| 27.6|          86700.0|
+--------+-----+-----------------+
only showing top 20 rows

+--------------------+--------------+
|           amenities|avg(price_gel)|
+--------------------+--------------+
|Newly renovated|C...|      3.2951E8|
|Old renovation|No...|   8.2478825E7|
|Newly renovated|N...|     7.32244E7|
|White frame|Nonst...|     3.30658E7|
|Newly renovated|N...|     1.34111E7|
|Old renovation|No...|     9885300.0|
|Newly renovated|N...|     7578700.0|
|Newly renovated|N...|     7249200.0|
|Newly renovated|N...|     6590200.0|
|Newly renovated|N...|     6590200.0|
|Newly renovated|N...|     6590200.0|
|Newly renovated|N...|     6590200.0|
|Newly renovated|N...|     6287100.0|
|Newly renovated|N...|     5931200.0|
|Newly renovated|N...|     5040000.0|
|Newly renovated|N...|     4942600.0|
|Newly renovated|N...|     4942600.0|
|Newly renovated|N...|     4942600.0|
|Newly renovated|N...|     4942600.0|
|Newly renovated|N...|     4942600.0|
+--------------------+--------------+
only showing top 20 rows

+--------------------+------------------+
|                city|    avg(price_gel)|
+--------------------+------------------+
|             Tbilisi| 312303.1035426819|
|              Adjara|282340.79690752306|
|   Mtskheta-Mtianeti|189161.90476190476|
|               Guria|         143868.75|
|  Samtskhe-Javakheti| 141419.1222570533|
|            Abkhazia|          130650.0|
|             Imereti|          118450.0|
|Racha-Lechkhumi a...|          116300.0|
|Samegrelo-Upper S...|104266.26506024097|
|        Lower Kartli|103592.42125984252|
|             Kakheti|102210.84337349398|
|        Inner Kartli| 71717.14285714286|
+--------------------+------------------+